html,body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #F8F9D7;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #606B7E; 
    -webkit-box-shadow: inset 0 0 6px #606B7E; 
}

/*
.bottom-array-element{
	transition: 0.2s all ease;
	position:absolute;
	background-color:red;
	bottom:0;
}*/

#Sub-Body{
  height: 82%;
  width: 100%;
  position: absolute;
  display:block;
  top:18%;
}

#Main-Content {
  left:5%;
  width:95%;
  height:100%;
  position:absolute;
  display:block;
  transition:0.6s all ease;
  overflow:hidden;
}

#Title-Bar-Buttons{
	width:5%;
	height:100%;
	background-color:#B2C8DF;
	position:absolute;
	vertical-align:bottom;
    transition: 0.6s all ease;
}

#Nav-Side-Bar {
  font-family: quicksand;
  display:block;
  background-color: #C4D7E0;
  width:5%;
  height:100%;
  transition: 0.6s all ease;
  position:absolute;
  overflow-y:scroll;
  direction: rtl;
  scrollbar-color:#B0B0B0
}

/*
#Bottom-Spacer-LHS{
	width:15%;
	height:100%;
	vertical-align:bottom;
	position:absolute;
}

#Bottom-Spacer-RHS{
	left:84%;
	width:16%;
	height:100%;
	vertical-align:bottom;
	position:absolute;
}
*/

.Nav-Side-Bar-Element{
  display: block;
  cursor: pointer;
  text-align:right;
  color:#FDFDFC;
}

div.Nav-Side-Bar-Element:hover{
	background-color:#6E85B7;
}

#Nav-Bar-Icon{
	transition:  0.6s all ease;
	width:100%;
}

#count-arr{
	height: 10%;
	width: 100%;
	display: block;
	position:absolute;
}

#Array-1-Holder{
	width:100%;
	height:40%;
	position: absolute;
	top:10%;
	display:block;
}

#Array-1-Spacer-1{
	width:15%;
	height:100%;
	vertical-align:bottom;
	position:absolute;
}

#array-1{
	left:20%;	
	width:70%;
	height:100%;
	vertical-align:bottom;
	position:absolute;
}

#array-1-element{
    transition: 0.2s all ease;	
	position:absolute;
	bottom:0;
}


/*
bottom:0
*/


/*
#Array-1-Spacer-1{
    background-color: green;
	display:inline-block;
	width:15%;
	height:40%;
	vertical-align:bottom;
}

#array-1{
	left:15%;
    background-color: red;
	width:85%;
	height:40%;
	vertical-align:bottom;
}*/

/*
#array-1{
	left:15%;
    background-color: red;
	display:inline-block;
	width:70%;
	height:40%;
	vertical-align:bottom;
}*/



#Array-1-Spacer-2{
	left:90%;
	width:10%;
	height:100%;
	vertical-align:bottom;
	position:absolute;
}

#svg-tree{
	width:100%;
	top:50%;
	height:50%;
	position: absolute;
	display:block;
}

#Title-Bar {
  height: 18%;
  width: 100%;
  font-family: quicksand;
  text-align:center;
  display:block;  
  position:absolute;

}

#Title-Bar-Titles{
	left:5%;
	width:95%;
	height:100%;
	position:absolute;
	vertical-align:bottom;
	color:black;
    transition: 0.6s all ease;

}


/*
.svg-text-array{
	height: 100;
	width: 100;
	display: block;
	vertical-align:bottom;
}*/

/*
#vertical-text{
	transform: rotate(90deg);
	transform-origin: bottom;
	float: left;
}*/


#vertical-text{
	fill:pink;
	transform: rotate(270deg);
	transform-origin: top;
	float: left;
}

#count-arr-text{
	height: 100;
	width: 100;

}

#tree-sort-tree{
	width:100;
	height:100;
}

#svg-tree-edge{
	stroke:black;
	fill: transparent;
}

#svg-tree-node{
	fill:#FDFDFC;
	stroke:black;
	stroke-width:2px;
}

#svg-tree-node-text{
	font-size:12px;
}

#Sort-Label{
	display:none;
	transition-delay: 1s;
}
